
img{
    height: 200px ;
    width: 150px;
    border-style:  solid;
    border-color: rgb(11, 11, 12);
 
 
     

}
.center-img {
  display: block;        
  margin: 0 auto; 
}       



h2{
    background-color: rgba(48, 36, 48, 0.222);
    box-shadow: 5px 2px 8px 1px;
    border-radius: 30%;
    text-align: center;
    
    
}


.box{
    text-align: center;
    
}
.text-border {
  /* display: inline-block;   */
  border-radius: 10px 50px 0px; 
  border: 2px solid rgb(214, 242, 54);   
  padding: 10px;
  /* background: linear-gradient(to right, rgb(19, 220, 235) ,rgb(145, 227, 14)); */
  margin: 50px; 
      
}
/* box:hover{
    color: red;
    text-decoration: underline;
} */




table{
    box-shadow: 4px 10px 20px 2px;
    color: rgb(64, 41, 41);
    
    
}

th{
    background-color: green;
    text-decoration-color: black;
}



td{
    b{
background-color: yellow;

    }
    

    
}


.resume{
    border: black solid;
    border-width: 2px;
    padding: 10px 10px;
    margin: 80px;
    margin-left: 50px;
    box-shadow: 10px 2px 100px ;
    
}

